@charset "UTF-8";

/* Heavily based on CSS design by https://lord.re - CC4-BY-SA */
@font-face {
  font-family: 'droid_sans';
  src: url("font/DroidSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid_serif';
  src: url("font/DroidSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid_mono';
  src: url("font/DroidMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  transition: all 0.1s ease;
  margin: 0;
  padding: 0;
}

*::selection {
  color: #fff !important;
  background: #e90596 !important;
}

html {
  font-family: 'droid_sans';
  font-size: 1rem;
  line-height: 1.35em;
  color: #8a9199;
  background: #272b30;
}

body {
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
}

.header {
  grid-row: 1;
}

#main {
  min-width: 0;
  grid-row: 2;
}

.sidebar {
  grid-row: 3;
}

.footer {
  grid-row: 4;
}

@media (min-width: 58em) {
  #page {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 0;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: min-content 1fr min-content;
  }

  .header {
    grid-column: 1;
    grid-row: 1;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  #main {
    min-width: 0;
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .footer {
    grid-column: 2;
    grid-row: 3;
  }
}

.header,
.sidebar {
  border-right: 2px solid #414;
  border-bottom: none;
  padding: 1rem;
  color: #757c82;
  text-align: left;
  position: relative;
}

.header:after,
.sidebar:after {
  content: " ";
  position: absolute;
  width: 2em;
  right: -2em;
  height: 100%;
  top: 0px;
  box-shadow: 1em 0 1em -1em rgba(0, 0, 0, 0.4) inset;
}

.header {
  padding-top: 5rem;
}

.sidebar {
  padding-top: 2rem;
  border-bottom: 2px solid #414;
}

#main {
  margin: 1rem;
}

.footer {
  margin: 2rem;
  padding: 2rem 2rem 1rem 2rem;
  color: #ccc;
  background-color: #222;
}

@media (min-width: 80em) {
  html {
    font-size: 18pt;
  }

  .header,
  .sidebar {
    border-right: 4px solid #414;
  }
}

@media (min-width: 100em) {
  html {
    font-size: 20pt;
  }
}

a {
  color: #aa7c82;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a[hreflang]:after {
  content: " ["attr(hreflang) "]";
  font-size: smaller;
}

a[hreflang="en"]:lang(en):after,
a[hreflang="fr"]:lang(fr):after {
  content: none;
}

article a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover {
  outline: 1px solid;
  outline-offset: .3em;
  border-bottom: 1px dashed #ff4500;
}

h1 {
  line-height: 2rem;
  font-size: 2rem;
  color: #bb8;
}

h1 a {
  font-size: 1.7rem;
  color: #aa8;
}

h2 {
  line-height: 2rem;
  font-size: 2rem;
  color: #bb8;
}

h2 a {
  font-size: 1.7rem;
  color: #aa8;
}

h3 {
  font-size: 1.5rem;
  color: #8aa;
  padding-top: 1.2rem;
}

h4 {
  font-size: 1.3rem;
  padding-top: 1.1rem;
}

h5 {
  font-size: 1.2rem;
  padding-top: 1.1rem;
}

h6 {
  font-size: 1.1rem;
  padding-top: 1.1rem;
}

ol li,
ul li {
  padding-top: 0.4rem;
  margin-left: 2rem;
}

dd {
  margin-left: 2rem;
}

em {
  color: #8a8;
}

strong {
  color: #a8a;
}

mark {
  color: #1d2024;
  background: #f9e380;
  padding: 0 .125em;
}

del {
  opacity: 0.5;
}

pre,
pre code {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}

pre,
:not(pre)>code {
  border: 1px dashed black;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4) inset;
  background: #1d2024;
  margin-top: .5rem;
  font-size: .7rem;
  line-height: .9rem;
  padding: .25rem;
}

pre,
code,
kbd,
tt,
samp {
  font-family: "droid_mono";
}

blockquote,
q {
  font-family: "droid_serif";
}

blockquote {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  quotes: '\201C''\201D';
}

blockquote:before,
blockquote:after {
  margin-top: 0;
  font-size: 3em;
  display: block;
  line-height: .25;
  margin-bottom: 0;
}

blockquote:before {
  content: open-quote;
  float: left;
  margin-right: .25em;
}

blockquote:after {
  content: close-quote;
  text-align: right;
}

blockquote em {
  font-style: normal;
}

q::before,
cite::before {
  content: open-quote;
}

q::after,
cite::after {
  content: close-quote;
}

:lang(en)>q,
:lang(en)>cite {
  quotes: '“ '' ”''‘''’';
}

:lang(fr)>q,
:lang(fr)>cite {
  quotes: '« '' »''‘''’';
}

:lang(de)>q,
:lang(de)>cite {
  quotes: '» '' «''‘''’';
}

sup[id^="fnref"]:before {
  content: "[";
}

sup[id^="fnref"]:after {
  content: "]";
}

figure h5 {
  font-size: 0.7rem;
  text-align: center;
  background: #67a4a8;
  font-weight: 100;
  color: black;
}

figure {
  margin-top: 0.5rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  outline: 3px solid black;
  text-align: center;
  padding: .5rem;
}

figcaption {
  margin-top: .5rem;
}

img,
figure img,
video,
iframe {
  display: inline-block;
  margin: 0;
  max-width: 100%;
  max-height: 90vh;
  height: auto;
}

audio {
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

hr {
  margin-top: 1rem;
  border: 1px dashed #555;
}

table {
  margin: 1rem;
}

table caption {
  padding-bottom: .5rem;
}

thead,
tfoot {
  background-color: #333;
}

tr:nth-child(even) {
  background: #222;
}

tr:hover {
  background: #333;
}

td {
  padding: 0.3rem;
}

fieldset {
  border: none;
  padding: .25rem;
}

input,
button,
textarea {
  font-family: "droid_sans";
  font-size: 1rem;
  border: none;
}

button,
input[type="submit"],
input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
  color: #8a9199;
  background: #272b30;
  padding: 0 .5rem;
  border: 2px solid;
}

button:hover,
button:focus,
button:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active {
  color: #272b30;
  background: #8a9199;
}

button[disabled],
input[disabled] {
  cursor: default;
  background: #457;
}

button[disabled]:hover,
input[disabled]:hover {
  color: #8a9199;
  background: #457;
}

input[type="checkbox"] {
  vertical-align: middle;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA1djE0SDVWNWgxNG0wLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMlY1YzAtMS4xLS45LTItMi0yeiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K');
}

input[type="checkbox"]:checked:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xOSAzSDVjLTEuMTEgMC0yIC45LTIgMnYxNGMwIDEuMS44OSAyIDIgMmgxNGMxLjExIDAgMi0uOSAyLTJWNWMwLTEuMS0uODktMi0yLTJ6bS05IDE0bC01LTUgMS40MS0xLjQxTDEwIDE0LjE3bDcuNTktNy41OUwxOSA4bC05IDl6Ii8+Cjwvc3ZnPgo=');
}

.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header,
.sidebar {
  font-size: 0.9rem;
}

.header h1 {
  padding-bottom: 1.5rem;
  text-align: center;
}

.header .site-baseline {
  margin-top: -1rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  text-align: center;
}

.header ul.simple-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header ul.simple-menu li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: .5rem;
}

.sidebar h2 {
  padding-top: 1.5rem;
}

.sidebar h3 {
  padding-bottom: .5rem;
}

.sidebar p {
  padding-top: 1rem;
}

.sidebar #search fieldset p {
  display: grid;
  grid-column-gap: .5rem;
  grid-template-columns: 1fr 2rem;
  align-items: center;
  padding-top: .25rem;
}

.sidebar #search fieldset p input[type="text"] {
  height: 1.25rem;
  font-size: .9rem;
}

.sidebar #search fieldset p input[type="submit"] {
  font-size: .9rem;
}

.blognav__title,
.blogextra__title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.syndicate li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 1rem;
}

.feed:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxjaXJjbGUgY3g9IjYuMTgiIGN5PSIxNy44MiIgcj0iMi4xOCIvPgogICAgPHBhdGggZD0iTTQgNC40NHYyLjgzYzcuMDMgMCAxMi43MyA1LjcgMTIuNzMgMTIuNzNoMi44M2MwLTguNTktNi45Ny0xNS41Ni0xNS41Ni0xNS41NnptMCA1LjY2djIuODNjMy45IDAgNy4wNyAzLjE3IDcuMDcgNy4wN2gyLjgzYzAtNS40Ny00LjQzLTkuOS05LjktOS45eiIvPgo8L3N2Zz4K');
  padding-right: .25rem;
  vertical-align: sub;
}

#content h1 {
  padding-top: 1.4rem;
}

#content h2 {
  padding-top: 1.3rem;
}

#content p+figure {
  margin-top: .5rem !important;
}

#content p,
#content details {
  padding-top: 1rem;
}

#content dd,
#content dt {
  padding-top: 0.4rem;
}

#content audio,
#content video,
#content iframe {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#content audio+p,
#content video+p,
#content iframe+p {
  padding-top: 0;
}

.content-info__cat-desc {
  padding-top: 1rem;
  font-size: .9rem;
}

.content-info__feed {
  margin-top: .5rem;
}

.content-info__feed li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.post,
.alt-post {
  margin: 1rem 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  border-top: 3px solid #547;
  border-bottom: 1px solid #436;
  border-left: 2px solid #444;
  max-width: calc(80ch + 4rem);
}

.post header,
.post .post-excerpt,
.post .post-content,
.post footer,
.alt-post header,
.alt-post .post-excerpt,
.alt-post .post-content,
.alt-post footer {
  margin: 2rem;
}

.post .post-day-date,
.alt-post .post-day-date {
  display: none;
}

.post li,
.alt-post li {
  list-style-position: outside;
}

.post ol li,
.alt-post ol li {
  margin-left: 1.2rem;
}

.post ul li,
.alt-post ul li {
  margin-left: 1rem;
  list-style-type: disc;
}

.alt-post,
.post:nth-child(even) {
  border-top: 3px solid #457;
  border-bottom: 1px solid #346;
  border-left: 2px solid #447;
  color: #999;
  background: #292f34;
}

.alt-post h2 a,
.post:nth-child(even) h2 a {
  color: #99C3D1;
}

.post-meta {
  margin-top: 1rem;
  font-size: .8rem;
}

.post-author a {
  color: #ab75a7;
}

.post-date {
  color: #8a8;
  margin-left: .5rem;
}

.post-date:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNyAxMmgtNXY1aDV2LTV6TTE2IDF2Mkg4VjFINnYySDVjLTEuMTEgMC0xLjk5LjktMS45OSAyTDMgMTljMCAxLjEuODkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMmgtMVYxaC0yem0zIDE4SDVWOGgxNHYxMXoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==');
  padding-right: .25rem;
  vertical-align: sub;
}

.post-permalink:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xOCAxNi4wOGMtLjc2IDAtMS40NC4zLTEuOTYuNzdMOC45MSAxMi43Yy4wNS0uMjMuMDktLjQ2LjA5LS43cy0uMDQtLjQ3LS4wOS0uN2w3LjA1LTQuMTFjLjU0LjUgMS4yNS44MSAyLjA0LjgxIDEuNjYgMCAzLTEuMzQgMy0zcy0xLjM0LTMtMy0zLTMgMS4zNC0zIDNjMCAuMjQuMDQuNDcuMDkuN0w4LjA0IDkuODFDNy41IDkuMzEgNi43OSA5IDYgOWMtMS42NiAwLTMgMS4zNC0zIDNzMS4zNCAzIDMgM2MuNzkgMCAxLjUtLjMxIDIuMDQtLjgxbDcuMTIgNC4xNmMtLjA1LjIxLS4wOC40My0uMDguNjUgMCAxLjYxIDEuMzEgMi45MiAyLjkyIDIuOTIgMS42MSAwIDIuOTItMS4zMSAyLjkyLTIuOTJzLTEuMzEtMi45Mi0yLjkyLTIuOTJ6Ii8+Cjwvc3ZnPgo=');
  padding-right: .25rem;
  vertical-align: sub;
}

.post-cat {
  margin-left: .5rem;
}

.post-cat a {
  color: #757cab;
}

.post-cat:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMCA0SDRjLTEuMSAwLTEuOTkuOS0xLjk5IDJMMiAxOGMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjhjMC0xLjEtLjktMi0yLTJoLThsLTItMnoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==');
  padding-right: .25rem;
  vertical-align: sub;
}

.post-permalink {
  margin-left: .5rem;
}

.post-permalink a {
  color: #a8a;
}

.post-tags-list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  display: inline;
  vertical-align: top;
}

.post-tags-list li:first-child:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0yMS40MSAxMS41OGwtOS05QzEyLjA1IDIuMjIgMTEuNTUgMiAxMSAySDRjLTEuMSAwLTIgLjktMiAydjdjMCAuNTUuMjIgMS4wNS41OSAxLjQybDkgOWMuMzYuMzYuODYuNTggMS40MS41OC41NSAwIDEuMDUtLjIyIDEuNDEtLjU5bDctN2MuMzctLjM2LjU5LS44Ni41OS0xLjQxIDAtLjU1LS4yMy0xLjA2LS41OS0xLjQyek01LjUgN0M0LjY3IDcgNCA2LjMzIDQgNS41UzQuNjcgNCA1LjUgNCA3IDQuNjcgNyA1LjUgNi4zMyA3IDUuNSA3eiIvPgo8L3N2Zz4K');
  padding-right: .5rem;
  vertical-align: sub;
}

.post li.post-tags-item {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  margin-right: .5rem;
  display: inline-block;
  white-space: nowrap;
}

.post li.post-tags-item a {
  color: #8aa;
}

.footnotes {
  margin-top: 2em;
  margin-bottom: 3em;
}

.footnotes h4 {
  display: inline-block;
  border-top: 1px solid #555;
  padding-right: 3em;
  margin-bottom: 0;
}

.post-read-it,
.post-read-it a {
  text-align: right;
  color: #2aa198;
  margin-right: 1rem;
  margin-bottom: 1.3rem;
}

.post-read-it a:hover {
  color: #4ab1a8;
}

.post-attachments-title {
  padding-bottom: .5rem;
}

.post .comment_count,
.post .ping_count,
.post .attach_count {
  margin-right: .6em;
}

.post .comment_count:before,
.post .ping_count:before,
.post .attach_count:before {
  padding-right: .25rem;
  vertical-align: sub;
}

.post .comment_count:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMS45OSA0YzAtMS4xLS44OS0yLTEuOTktMkg0Yy0xLjEgMC0yIC45LTIgMnYxMmMwIDEuMS45IDIgMiAyaDE0bDQgNC0uMDEtMTh6TTE4IDE0SDZ2LTJoMTJ2MnptMC0zSDZWOWgxMnYyem0wLTNINlY2aDEydjJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=');
}

.post .ping_count:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMiA0VjFMOCA1bDQgNFY2YzMuMzEgMCA2IDIuNjkgNiA2IDAgMS4wMS0uMjUgMS45Ny0uNyAyLjhsMS40NiAxLjQ2QzE5LjU0IDE1LjAzIDIwIDEzLjU3IDIwIDEyYzAtNC40Mi0zLjU4LTgtOC04em0wIDE0Yy0zLjMxIDAtNi0yLjY5LTYtNiAwLTEuMDEuMjUtMS45Ny43LTIuOEw1LjI0IDcuNzRDNC40NiA4Ljk3IDQgMTAuNDMgNCAxMmMwIDQuNDIgMy41OCA4IDggOHYzbDQtNC00LTR2M3oiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==');
}

.post .attach_count:before {
  content: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTk5IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yIDEyLjVDMiA5LjQ2IDQuNDYgNyA3LjUgN0gxOGMyLjIxIDAgNCAxLjc5IDQgNHMtMS43OSA0LTQgNEg5LjVDOC4xMiAxNSA3IDEzLjg4IDcgMTIuNVM4LjEyIDEwIDkuNSAxMEgxN3YySDkuNDFjLS41NSAwLS41NSAxIDAgMUgxOGMxLjEgMCAyLS45IDItMnMtLjktMi0yLTJINy41QzUuNTcgOSA0IDEwLjU3IDQgMTIuNVM1LjU3IDE2IDcuNSAxNkgxN3YySDcuNUM0LjQ2IDE4IDIgMTUuNTQgMiAxMi41eiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=');
}

.comment-info {
  font-size: .8rem;
}

.comments-list li {
  list-style-image: none;
  list-style-type: none;
  padding-bottom: .5rem;
  margin-left: 1rem;
}

.comments-list li.ping a {
  color: #8a8;
}

.comment-number {
  color: #a8a;
  margin-right: .6rem;
}

.comment-content {
  margin-left: 1.3rem;
}

.comment-content li {
  list-style-image: initial;
  list-style-type: initial;
}

.comment-form,
.send-ping {
  margin-top: 1rem;
}

.comment-form h3,
.send-ping h3 {
  margin-bottom: .5rem;
}

.comment-preview {
  padding: 1rem;
  background-color: #1d2024;
}

#comments .me .comment-info {
  color: #eeedf3;
}

.field label {
  display: inline-block;
  width: 10em;
}

.field input {
  max-width: 100%;
  background: #ccc;
}

.field textarea {
  display: block;
  width: 95%;
  background: #ccc;
  margin-top: .5rem;
}

.footer h2 {
  padding-bottom: 1rem;
}

.footer h3 {
  padding-bottom: .5rem;
}

.footer p {
  padding-top: 1rem;
}

.navlinks {
  text-align: right;
  margin-top: 1rem;
  max-width: calc(80ch + 4rem);
}

.skip-links {
  font-size: .5rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: -.5rem 0 0 1rem;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.skip-links li {
  list-style-image: none;
  list-style-type: none;
  display: inline-block;
  margin: 0 .5rem 0 0;
}

.skip-links li a {
  color: #272b30;
}

.skip-links li a:hover,
.skip-links li a:active,
.skip-links li a:focus {
  color: #8a9199;
}

#gotop {
  display: none;
  z-index: 1000;
  position: fixed;
  bottom: .5rem;
  right: .5rem;
  width: 10em;
  padding: .25em;
  border: 1px solid #636363;
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  font-size: .75em;
  text-align: center;
}

#gotop a:link,
#gotop a:hover,
#gotop a:active {
  background: transparent;
  border: none;
  font-weight: bold;
  color: #8a9199;
}

img.smiley {
  height: 1em;
}

.arch-by-year__each-year {
  display: inline-block;
  vertical-align: top;
  margin: 0 1.5rem 0 0;
}

.arch-by-year__each-year h4 {
  margin-top: .5rem;
}

.arch-year-list {
  margin-bottom: 1.5rem;
}

#other-criteria {
  margin-top: 1rem;
}

#other-criteria h3 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.arch-list,
.arch-sub-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.arch-list li,
.arch-sub-list li {
  margin-left: 0;
}

.arch-sub-cat-list {
  margin: 0 0 0 1rem;
}

.arch-tag-list {
  display: flex;
  flex-wrap: wrap;
}

.arch-tag-list li {
  padding-right: 1rem;
}

.arch-tag-list .tag100 {
  font-size: 1.2rem;
}

.arch-tag-list .tag90 {
  font-size: 1.2rem;
}

.arch-tag-list .tag80 {
  font-size: 1.15rem;
}

.arch-tag-list .tag70 {
  font-size: 1.15rem;
}

.arch-tag-list .tag60 {
  font-size: 1.10rem;
}

.arch-tag-list .tag50 {
  font-size: 1.10rem;
}

.arch-tag-list .tag40 {
  font-size: 1.00rem;
}

.arch-tag-list .tag30 {
  font-size: 1.00rem;
}

.arch-tag-list .tag30 {
  font-size: 0.95rem;
}

.arch-tag-list .tag20 {
  font-size: 0.95rem;
}

.arch-tag-list .tag10 {
  font-size: 0.90rem;
}

.arch-tag-list .tag0 {
  font-size: 0.90rem;
}

.dc-404 #content,
.dc-archive #content,
.dc-tags #content,
.dc-series #content,
.dc-contactme #content {
  margin: 1rem 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  border-top: 3px solid #547;
  border-bottom: 1px solid #436;
  border-left: 2px solid #444;
  max-width: calc(80ch + 4rem);
}

.dc-404 #content header,
.dc-404 #content .content-inner,
.dc-404 #content footer,
.dc-archive #content header,
.dc-archive #content .content-inner,
.dc-archive #content footer,
.dc-tags #content header,
.dc-tags #content .content-inner,
.dc-tags #content footer,
.dc-series #content header,
.dc-series #content .content-inner,
.dc-series #content footer,
.dc-contactme #content header,
.dc-contactme #content .content-inner,
.dc-contactme #content footer {
  margin: 2rem;
}

.dc-404 #content .content-inner h3,
.dc-archive #content .content-inner h3,
.dc-tags #content .content-inner h3,
.dc-series #content .content-inner h3,
.dc-contactme #content .content-inner h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.series-posts li.current {
  color: #8a8;
}

.jstElements button {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: .25rem !important;
  margin-right: .25rem !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-color: #272b30 !important;
  color: #ccc !important;
  border: 1px solid !important;
}

.jstElements button:hover,
.jstElements button:focus,
.jstElements button:active {
  filter: contrast(200%) brightness(200%) !important;
}

.jstElements button.jstb_strong {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNS42IDEwLjc5Yy45Ny0uNjcgMS42NS0xLjc3IDEuNjUtMi43OSAwLTIuMjYtMS43NS00LTQtNEg3djE0aDcuMDRjMi4wOSAwIDMuNzEtMS43IDMuNzEtMy43OSAwLTEuNTItLjg2LTIuODItMi4xNS0zLjQyek0xMCA2LjVoM2MuODMgMCAxLjUuNjcgMS41IDEuNXMtLjY3IDEuNS0xLjUgMS41aC0zdi0zem0zLjUgOUgxMHYtM2gzLjVjLjgzIDAgMS41LjY3IDEuNSAxLjVzLS42NyAxLjUtMS41IDEuNXoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==');
}

.jstElements button.jstb_em {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMCA0djNoMi4yMWwtMy40MiA4SDZ2M2g4di0zaC0yLjIxbDMuNDItOEgxOFY0eiIvPgo8L3N2Zz4K');
}

.jstElements button.jstb_ins {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMiAxN2MzLjMxIDAgNi0yLjY5IDYtNlYzaC0yLjV2OGMwIDEuOTMtMS41NyAzLjUtMy41IDMuNVM4LjUgMTIuOTMgOC41IDExVjNINnY4YzAgMy4zMSAyLjY5IDYgNiA2em0tNyAydjJoMTR2LTJINXoiLz4KPC9zdmc+Cg==');
}

.jstElements button.jstb_del {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMCAxOWg0di0zaC00djN6TTUgNHYzaDV2M2g0VjdoNVY0SDV6TTMgMTRoMTh2LTJIM3YyeiIvPgo8L3N2Zz4K');
}

.jstElements button.jstb_quote {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik02IDE3aDNsMi00VjdINXY2aDN6bTggMGgzbDItNFY3aC02djZoM3oiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==');
}

.jstElements button.jstb_code {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMS44IDEwLjljLTIuMjctLjU5LTMtMS4yLTMtMi4xNSAwLTEuMDkgMS4wMS0xLjg1IDIuNy0xLjg1IDEuNzggMCAyLjQ0Ljg1IDIuNSAyLjFoMi4yMWMtLjA3LTEuNzItMS4xMi0zLjMtMy4yMS0zLjgxVjNoLTN2Mi4xNmMtMS45NC40Mi0zLjUgMS42OC0zLjUgMy42MSAwIDIuMzEgMS45MSAzLjQ2IDQuNyA0LjEzIDIuNS42IDMgMS40OCAzIDIuNDEgMCAuNjktLjQ5IDEuNzktMi43IDEuNzktMi4wNiAwLTIuODctLjkyLTIuOTgtMi4xaC0yLjJjLjEyIDIuMTkgMS43NiAzLjQyIDMuNjggMy44M1YyMWgzdi0yLjE1YzEuOTUtLjM3IDMuNS0xLjUgMy41LTMuNTUgMC0yLjg0LTIuNDMtMy44MS00LjctNC40eiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K');
}

.jstElements button.jstb_br {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik00IDE5aDZ2LTJINHYyek0yMCA1SDR2MmgxNlY1em0tMyA2SDR2MmgxMy4yNWMxLjEgMCAyIC45IDIgMnMtLjkgMi0yIDJIMTV2LTJsLTMgMyAzIDN2LTJoMmMyLjIxIDAgNC0xLjc5IDQtNHMtMS43OS00LTQtNHoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==');
}

.jstElements button.jstb_ul {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik00IDEwLjVjLS44MyAwLTEuNS42Ny0xLjUgMS41cy42NyAxLjUgMS41IDEuNSAxLjUtLjY3IDEuNS0xLjUtLjY3LTEuNS0xLjUtMS41em0wLTZjLS44MyAwLTEuNS42Ny0xLjUgMS41UzMuMTcgNy41IDQgNy41IDUuNSA2LjgzIDUuNSA2IDQuODMgNC41IDQgNC41em0wIDEyYy0uODMgMC0xLjUuNjgtMS41IDEuNXMuNjggMS41IDEuNSAxLjUgMS41LS42OCAxLjUtMS41LS42Ny0xLjUtMS41LTEuNXpNNyAxOWgxNHYtMkg3djJ6bTAtNmgxNHYtMkg3djJ6bTAtOHYyaDE0VjVIN3oiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K');
}

.jstElements button.jstb_ol {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yIDE3aDJ2LjVIM3YxaDF2LjVIMnYxaDN2LTRIMnYxem0xLTloMVY0SDJ2MWgxdjN6bS0xIDNoMS44TDIgMTMuMXYuOWgzdi0xSDMuMkw1IDEwLjlWMTBIMnYxem01LTZ2MmgxNFY1SDd6bTAgMTRoMTR2LTJIN3Yyem0wLTZoMTR2LTJIN3YyeiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K');
}

.jstElements button.jstb_pre {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBkPSJNMjQgMjRIMFYwaDI0djI0eiIgaWQ9ImEiLz4KICAgIDwvZGVmcz4KICAgIDxjbGlwUGF0aCBpZD0iYiI+CiAgICAgICAgPHVzZSBvdmVyZmxvdz0idmlzaWJsZSIgeGxpbms6aHJlZj0iI2EiLz4KICAgIDwvY2xpcFBhdGg+CiAgICA8cGF0aCBjbGlwLXBhdGg9InVybCgjYikiIGQ9Ik0yLjUgNHYzaDV2MTJoM1Y3aDVWNGgtMTN6bTE5IDVoLTl2M2gzdjdoM3YtN2gzVjl6Ii8+Cjwvc3ZnPgo=');
}

.jstElements button.jstb_bquote {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAySDRjLTEuMSAwLTIgLjktMiAydjEyYzAgMS4xLjkgMiAyIDJoMTRsNCA0VjRjMC0xLjEtLjktMi0yLTJ6bS0yIDEySDZ2LTJoMTJ2MnptMC0zSDZWOWgxMnYyem0wLTNINlY2aDEydjJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=');
}

.jstElements button.jstb_link {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0zLjkgMTJjMC0xLjcxIDEuMzktMy4xIDMuMS0zLjFoNFY3SDdjLTIuNzYgMC01IDIuMjQtNSA1czIuMjQgNSA1IDVoNHYtMS45SDdjLTEuNzEgMC0zLjEtMS4zOS0zLjEtMy4xek04IDEzaDh2LTJIOHYyem05LTZoLTR2MS45aDRjMS43MSAwIDMuMSAxLjM5IDMuMSAzLjFzLTEuMzkgMy4xLTMuMSAzLjFoLTRWMTdoNGMyLjc2IDAgNS0yLjI0IDUtNXMtMi4yNC01LTUtNXoiLz4KPC9zdmc+Cg==');
}

.jstElements span {
  display: none;
}

span.jstSpacer {
  display: inline-block;
  width: .3rem;
}

/*# sourceMappingURL=style.css.map */
